* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #aaa;
  background-color: #222;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.icon {
  width: 3.2rem;
  color: #aaa;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  background-color: #222;
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaa;
  color: #222;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  max-width: 550px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 9.6rem;
  background-color: #333;
  margin-bottom: 3.2rem;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.2rem;
  color: #fff;
}

.img__container {
  position: relative;
  /* width: 100%;
  height: 100%;
  border-radius: 11px; */
}

.song__img {
  border-radius: 11px;
}

.img__bg {
  width: 310px;
  height: 310px;

  background-image: linear-gradient(
    -45deg,
    rgba(132, 29, 253, 1) 0%,
    rgba(69, 237, 252, 1) 80%
  );
  filter: blur(25px);
  opacity: var(0.75);

  position: absolute;
  top: 0;
  transform: translate(-5px, -5px);
  z-index: -1;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.audio__controls {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.audio__length {
  height: 10px;
  width: 250px;
  background-color: #333;
  /* background: linear-gradient(
    90deg,
    rgba(132, 29, 253, 1) 0%,
    rgba(69, 237, 252, 1) 70%,
    rgba(51, 51, 51, 1) 70%
  ); */
  border-radius: 100px;
}

.audio__volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.audio__play.btn {
  border: none;
  padding: 0;
}

.audio__play.btn:hover {
  background-color: transparent;
}

.audio__volume--icon {
  /* width: 3.2rem; */
  color: rgba(132, 29, 253, 1);
}
